

@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the Easy Appointment Manager</h2>
<br />

<!-- the DIV that will contain the widget -->
<div class="weatherWidget"></div>
<br />

<div class="card w-75 text-white bg-secondary mb-3">
    <div class="card-header border-dark">
        <h5 class="card-header">Appointments</h5>
    </div>
    <div class="card-body">
        <h5 class="card-title">You currently have no Appointments</h5>
        <p class="card-text">If you need to create a appointment, please press the button below.</p>
        <a href="#" class="btn btn-light btn-outline-dark">Create Appointment</a>
    </div>
</div>

<script type="text/javascript">
    var key = "@ViewBag.apiKey";
    window.weatherWidgetConfig = window.weatherWidgetConfig || [];
    window.weatherWidgetConfig.push({
        
        selector: ".weatherWidget",
        apiKey: key, //Sign up for your personal key
        location: "Lakewood, WA", //Enter an address
        unitGroup: "us", //"us" or "metric"
        forecastDays: 5, //how many days forecast to show
        title: "Lakewood,WA", //optional title to show in the
        showTitle: true,
        showConditions: true
    });

    (function () {
        var d = document, s = d.createElement('script');
        s.src = 'https://www.visualcrossing.com/widgets/forecast-simple/weather-forecast-widget-simple.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>